.*.swp
*~
doc
build
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
*.cache/
compile
*.guess
config.h*
config.status
config.sub
configure
configure.ac
*.la
*.lo
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
*.log
*.o
ctest
cpptest
*.trs
test-driver
*.pc
*.tar.gz
*.sig
*.md5
